/PyBC_260r/pybit/Blocks/**/*.dat
PyBC_260r/pybit/Blocks/**/*.dat
/PyBC_260r/pybit/Blocks
PyBC_260r/pybit/Blocks
blocktools_py3/Savvy Data/*
blocktools_py3/*.dat
*.db
*.dat
Sample bitcoin data/
*.zip
**/.DS_Store
**/*.bak
*.zip
target/
*.customdb